.container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.no-items-message {
  margin: 0;
  text-align: center;
}

.items {
  flex-shrink: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.all-items {
  position: absolute;
  visibility: hidden;
}

.item {
  flex-shrink: 0;
}
